/* stylelint-disable plugin/no-unsupported-browser-features,
property-no-vendor-prefix, plugin/no-low-performance-animation-properties,
plugin/stylelint-no-indistinguishable-colors, a11y/media-prefers-reduced-motion
  */
.addButton {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(255, 213, 79, 1);
  cursor: pointer;
  box-shadow: 0.0001em 0.2em 5px rgba(122, 122, 122, 0.4);
  animation: pulse 2s infinite;

  &:focus {
    animation: none;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.pen {
  width: 50%;
  height: 50%;
  margin: 25%;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
/* stylelint-enable  */

.hide {
  display: none;
}
