.addButton {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(255, 213, 79, 1);
  cursor: pointer;
  box-shadow: 0.0001em 0.2em 5px rgba(122, 122, 122, 0.4);
  animation: pulse 2s infinite;

  &:focus {
    animation: none;
    transform: scale(1.2);
  }

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.pen {
  width: 50%;
  height: 50%;
  margin: 25%;
}

.iFrame {
  position: fixed;
  right: 30px;
  bottom: 90px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.hide {
  display: none;
}
