.myInput {
  border: 1px solid rgba(229, 229, 229, 1);
  padding-left: 12px;
  outline: none;
  width: calc(100vw - 90px);
  bottom: 2px;
  left: 0.001px;
  position: fixed;
  height: 40px;
  font-size: 16px;

  @media handheld {
    width: calc(100% - 144px);
  }
}

.addPhoto {
  border: 1px solid rgba(229, 229, 229, 1);
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 2px;
  right: 0.001px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

.addAudio {
  border: 1px solid rgba(229, 229, 229, 1);
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 2px;
  right: 42px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

.inputFileForm {
  display: none;
}

.pinnedFilesForm {
  width: 100%;
  display: inline-block;
  position: fixed;
  bottom: 44px;
}

.pinnedFile {
  height: 100px;
  margin: 5px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 5px;
}

.location {
  border: 1px solid rgba(229, 229, 229, 1);
  height: 32px;
  width: 32px;
  position: fixed;
  padding: 5px;
  bottom: 2px;
  right: 84px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}
