.header {
    display: flex;
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background: #8e24aa;
}
.title {
    flex: 1 1 auto;
    display: flex;
    margin-left: 20px;

}
.name {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: white;
    margin-left: 20px;

}
.search {
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.burger {
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.menu {
    display: none;
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.back {
    display: none;
    flex: 0 1 auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.photo {
    display: none;
    flex: 0 1 auto;
    background-color: #ffd54f;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}
.confirm {
    display: none;
}
.icon {
    height: 35%;
    width: 35%;
    margin: 32.5%;
}