.header {
  display: flex;
  position: fixed;
  top: 0.0001px;
  height: 60px;
  width: 100%;
  background: rgba(142, 36, 170, 1);
}

.title {
  flex: 1 1 auto;
  display: flex;
  margin-left: 20px;
}

.name {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.menu {
  flex: 0 1 auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.back {
  flex: 0 1 auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.photo {
  flex: 0 1 auto;
  background-color: rgba(255, 213, 79, 1);
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border: 1px solid rgba(229, 229, 229, 1);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}

.search {
  flex: 0 1 auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.burger {
  flex: 0 1 auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.confirm {
  flex: 0 1 auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.icon {
  height: 35%;
  width: 35%;
  margin: 32.5%;
}
